.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.profileImage {
  margin-top: 2rem;
  /* height: 275px; */
  width: 225px;
  /* border-radius: 50%; */
  border-radius: 12px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.home {
  margin-top: 4rem;
}

.home a {
  font-weight: 900;
  margin-left: 0.2rem;
  color: #e94196;
}

.home p {
  margin-bottom: 0.5rem;
}

.postContent p {
  margin: 0.75rem 0;
  font-size: 1.1rem;
}

.postContent table {
  margin-bottom: 30px;
  margin-top: 20px;
  font-size: 18px;
  background-color: rgba(233, 65, 150, 0.1);
}

.postContent a,
.postContent table a {
  color: rgba(233, 65, 150, 1);
}

.postContent table th,
.postContent table td {
  padding: 5px 30px;
}

.postContent table th {
  font-weight: bold;
  color: rgba(233, 65, 150, 1);
  font-size: 20px;
}

.postDate {
  font-size: 1.25rem;
  margin-bottom: 3rem;
  color: #e94196;
}

.head a {
  border: 3px solid #e94196;
  background-color: #e94196;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: block;
  cursor: pointer;
}
